{% extends 'nav-courrier.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block content %}
    <h3>Ajouter un nouveau partenaire</h3>
    <hr>

    {{ include('intel_partner/_form.html.twig') }}

{% endblock %}
