<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body class="text-center">

    <hr>
    <span style="font-size: 1em; font-weight: bold; font-style: italic">
    Ce document est une propriété de la DNDPE et est strictement confidentiel. Toutes formes de reproductions interdites. À retourner après lecture et exploitation à la source.
    </span><br>
    <span style="font-size: 0.5em; font-weight: normal; font-style: italic">{{ affaire.numeroMatricule }}</span>


</body>
</html>