<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body class="text-center">


    <span style="font-size: 1.5em; font-weight: bold; color: red; margin-left: 13.3em">CONFIDENTIEL</span>

    <hr>

</body>
</html>