<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ absolute_url(asset('/assets/bootstrap.css')) }}" />
        <link rel="stylesheet" href="{{ absolute_url(asset('/assets/bootstrap-theme.css')) }}" />
        <script  src="{{ absolute_url(asset('/assets/jquery.js')) }}"></script>
        <script  src="{{ absolute_url(asset('/assets/bootstrap.js')) }}"></script>

        <style>
            body{
                margin: 0;
                font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
            }
        </style>

        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
