
{% block AttachementsType_label %}
{% endblock %}

{% block AttachementsType_widget %}



    <div class="row mt-3">
        <div class="col-md-5">
            <div class="custom-file">
                {{ form_widget(form.file, {'attr': {'class': 'custom-file-input'}}) }}
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <div class="form-error" style="color: red">
                {{ form_errors(form.file) }}
            </div>
        </div>
        <div class="col-md-5">
            {{ form_widget(form.description, {'attr': {'class': 'md-textarea form-control'}}) }}
            <div class="form-error" style="color: red">
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" class="collection-add btn btn-sm btn-default" title="Add Piece"><span class="fa fa-plus-circle"></span></a>
            <a href="#" class="collection-remove btn btn-sm btn-danger" title="Delete Piece"><span class="fa fa-trash"></span></a>
        </div>
    </div>
{% endblock %}




